/****** index page styles *******/

  .active {
    display: block;
    background: rgb(144,144,218);
    background: linear-gradient(205deg, rgba(144,144,218,1) 9%, rgba(0,212,255,1) 100%);
    color: #000;
  }

  #testPapers {
    margin: 2% auto;
  }

  .container
 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: large;
    display: flex;
 }
 .heading {
   width:50%;
 }
 .addTestPapers { 
    width:50%;
 }

 .addTestBtn {
    float: right;
    font-size: large;
 }

 /********** Admin Page styles *********/
#main {
  margin:2% 10%;
}

.bigHeading {
  margin: 2% 0;
  text-align: center;
}


.col {
  text-align: center;
  justify-content: center;
}

.addBtn {
  font-size: 1.2rem;
  width: 70px;
  font-weight: bolder;
}

.testNameBox{
  width: 50%;
}

.testNameValid {
  width:fit-content;
  margin-left:6.5%;
}
 
