
/****** index page styles *******/
#navigation-bar{
  background-color: #1572A1;
}




.active {
  display: block;
  background: rgb(93,156,89);
  background: linear-gradient(137deg, rgba(93,156,89,1) 16%, rgba(233,0,100,1) 35%, rgba(21,114,161,1) 50%);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

  #testPapers {
    margin: 2% 10%;
  }
 

  .container
 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: large;
    display: flex;
 }
 .heading {
   width:50%;
 }
 .addTestPapers { 
    width:50%;
 }

 .addTestBtn {
    float: right;
    font-size: large;
    background-color: #1572A1;
 }
 .testPapers {
  margin: 5% auto;
}
.testPapers > .row  {
  border:2px solid black;
  margin: 1% 4%;
  padding:1% 3%;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #fff1eb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(255,241,235,0.5), rgba(172,224,249,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(255,241,235,0.5), rgba(172,224,249,0.5))
}
 
 /********** Admin Page styles *********/
#main {
  margin:2% 10%;
}

.bigHeading {
  margin: 2% 0;
  text-align: center;
}


.col {
  text-align: center;
  justify-content: center;
}

.addBtn {
  font-size: 1.2rem;
  width: 70px;
  font-weight: bolder;
}

.testNameBox{
  width: 50%;
}

.testNameValid {
  width:fit-content;
  margin-left:6.5%;
}

.errorMsg {
  color:rgb(205, 68, 68);
  font-size: small;
  margin-left: 0%;
  padding: 0;
}


#questionsList {
  margin:2% 10%;
  
}
.alignQuestions {
  text-align: center;
  padding: 2% 10%;
  border: 1px solid #000;
  margin: 1% auto;
}
 
.testPapers {
  margin: 5% auto;
}
.testPapers > .row  {
  border:2px solid black;
  margin: 1% 4%;
  padding:1% 3%;

}

.correctAns {
  color : #388E3C;
}

.givenAns {
  color : #0091EA;
}