
/****** index page styles *******/
#navigation-bar{
  background-color: #1572A1;
}

  /* #testPapers {
    margin: 2% 10%;
  } */
 
  .container
 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: large;
 }

 .addTestBtn {
    font-size: large;
    background-color: #0C2D48;
    color: #fff;
 }
 .addTestBtn:hover, .addBtn:hover, .saveBtn:hover, .addTestBtn:active{
  background-color: #1572A1;
  color: #fff;
}

 .btn-outline-info, .btn-outline-info:hover, .btn-outline-info:active, .btn-outline-info:focus{
  border: 2px solid  #0C2D48;
  color:  #0C2D48;
}

.questionaryEditBtn,.questionaryGoBtn{
  background-color: #1572A1;
  color: #fff;
}

.questionaryEditBtn:hover,.questionaryEditBtn:active, .questionaryGoBtn:hover,.questionaryGoBtn:active{
  background-color: #1572A1;
  color: #fff;
}

.btn-outline-info:visited{
  border: 2px solid  #0C2D48;
  color:  #0C2D48;
}
/* .questionaryDeleteBtn{
  background-color: #1572A1;
  color: #FFF;
} */


/* .questionaryScoreRecord{
  box-shadow: inset;
  border: 2px solid  #0C2D48;
  color:  #0C2D48;
} */

.addBtn {
  font-size: 1.2rem;
  width: 70px;
  font-weight: bolder;
  background-color: #0C2D48;
  color: #fff;
}

.addBtn:disabled,.saveBtn[disabled],
.addBtn[disabled]{
  background-color: #0C2D48;
  color: #fff;
  cursor: no-drop
}

.saveBtn{
  background-color: #0C2D48;
  color: #fff;
}

.nav-pills > li > a.nav-link {
  background-color: #86A3B8;
  color: white;
}

.nav-pills > li > a.nav-link.active {
  background-color: #1572A1;
  color: white;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #fff1eb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(255,241,235,0.5), rgba(172,224,249,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(255,241,235,0.5), rgba(172,224,249,0.5))
}
 
 /********** Admin Page styles *********/
#main {
  margin:2% 10%;
}

.bigHeading {
  margin: 2% 0;
  text-align: center;
}

.StudentNotification{
  margin: 2% 1%;
  text-align: center;
  background-color: #FFCCBC;
  padding: 5px;
}

.col {
  text-align: center;
  justify-content: center;
}


.testNameBox{
  width: 100%;
}

.testNameValid {
  width:fit-content;
  margin-left:6.5%;
}


#questionsList {
  margin:2% 10%;
}

.alignQuestions {
  text-align: center;
  padding: 2% 10%;
  border: 1px solid #000;
  margin: 1% auto;
}
/* 
.testPapers {
  margin: 5% auto;
} */

.loginSection{
  margin: 10% 15%;
  padding: 2rem;
  border: 2px solid #BDBDBD;
  border-radius: 10px;
}

.testPapers > .row  {
  border:2px solid black;
  /* margin: 2% auto; */
  padding:1% 3%;

}

.correctAns {
  color : #388E3C;
}

.givenAns {
  color : #0091EA;
}

.displayDate {
  background-color: #BDBDBD;
}

.main {
  margin: 3% 10%;
}

.inputBox {
  width:32px;
  text-align:center;
  background-color:#BBDEFB;
  border:none;
}
.emptyBox{
  width:30px;
  text-align:center;
}

.finalInputBox {
  border:1px solid #0C2D48;
  width:32px;
  text-align:center;
  background-color:#B1D4E0;
}

.finalInputBoxZero{
  border:1px solid #0C2D48;
  width:70px;
  text-align:center;
  background-color:#B1D4E0;
}

.inputBox:focus {
  outline: none;
}

.finalInputBox:focus {
  outline: none;
}

.inputDivisionBox {
  width:60px;
  text-align:center;
  background-color:#B1D4E0;
  border:1px solid #0C2D48;
}

.inputDivisionBox:focus {
  outline: none;
}

.inputRemainderBox {
  width:60px;
  text-align:center;
  background-color:#E1BEE7;
  border:1px solid #0C2D48;
}

.inputRemainderBox:focus {
  outline: none;
}

.tableAlign {
  margin: 0 auto;
}


.alignNumbers {
  margin:0px; 
  padding:0px;
}

.userName{
  font-size: large;
  font-weight: 400;
  color: #1572A1;
  text-decoration: underline;
}

.inbox > .row  {
  border:1px solid #BDBDBD;
  border-radius: 10px;
  /* margin: 1% auto;  */
  padding:1% 3%;
  text-align: left;
  font-size: small;
}

/* .editNotification {
     background-color: #E8F5E9;
}

.removeNotification {
     background-color: #FBE9E7;
} */

.newNotification {
     background-color: #E3F2FD;
}

.link-secondary:active {
  color: #E3F2FD;
}

.questionaryStatus{
  color: green;
  font-size: medium;
  font-weight: 600;
}
.statusModified, .loginStatus{
  color: red;
}

.testNameInput{
  width:100%;
  height:fit-content;
  text-align:center;
  border: none;
  font-weight:300;
  background-color: transparent;
  /* font-size: clamp(1rem, 0.1456rem + 3.7975vw, 2.5rem); */
  font-size: clamp(1.2rem, 0.9111rem + 1.2840vw, 2.5rem);
}

.questionaryName{
  font-size: clamp(1.2rem, 0.9778rem + 0.9877vw, 2.2rem);
}

.checkedReadNotification {
  background-color: #E8EAF6;
}

.list-group-item {
  background-color: transparent;
}

