
/****** index page styles *******/
#navigation-bar{
  background-color: #1572A1;
}

  #testPapers {
    margin: 2% 10%;
  }
 
  .container
 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: large;
    display: flex;
 }
 .heading {
   width:50%;
 }
 .addTestPapers { 
    width:50%;
 }

 .addTestBtn {
    float: right;
    font-size: large;
    background-color: #0C2D48;
    color: #fff;
 }
 .addTestBtn:hover, .addBtn:hover, .saveBtn:hover, .addTestBtn:active{
  background-color: #1572A1;
  color: #fff;
}

.addBtn {
  font-size: 1.2rem;
  width: 70px;
  font-weight: bolder;
  background-color: #0C2D48;
  color: #fff;
}

.addBtn:disabled,
.addBtn[disabled]{
  background-color: #0C2D48;
  color: #fff;
  cursor: no-drop
}

.saveBtn{
  background-color: #0C2D48;
  color: #fff;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #fff1eb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(255,241,235,0.5), rgba(172,224,249,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(255,241,235,0.5), rgba(172,224,249,0.5))
}
 
 /********** Admin Page styles *********/
#main {
  margin:2% 10%;
}

.bigHeading {
  margin: 2% 0;
  text-align: center;
}

.StudentNotification{
  margin: 2% 1%;
  text-align: center;
  background-color: #FFCCBC;
  padding: 5px;
}

.col {
  text-align: center;
  justify-content: center;
}



.testNameBox{
  width: 50%;
}

.testNameValid {
  width:fit-content;
  margin-left:6.5%;
}

/* .errorMsg {
  color:rgb(205, 68, 68);
  font-size: small;
  margin-left: 0%;
  padding: 0;
} */


#questionsList {
  margin:2% 10%;
  
}

.alignQuestions {
  text-align: center;
  padding: 2% 10%;
  border: 1px solid #000;
  margin: 1% auto;
}

.testPapers {
  margin: 5% auto;
}

.loginSection{
  margin: 10% 10%;
  padding: 2rem;
}
.formAlign {
  margin: 0% 10%;
  border: 2px solid #BDBDBD;
  border-radius: 10px;
  padding: 2rem;
}

.testPapers > .row  {
  border:2px solid black;
  margin: 1% 4%;
  padding:1% 3%;

}

.correctAns {
  color : #388E3C;
}

.givenAns {
  color : #0091EA;
}

.displayDate {
  background-color: #BDBDBD;
}

.main {
  margin: 3% 10%;
}

.inputBox {
  width:35px;
  text-align:center;
  background-color:#BBDEFB;
  border:none;
}
.emptyBox{
  width:33px;
  text-align:center;
}

.finalInputBox {
  border:1px solid #0C2D48;
  width:35px;
  text-align:center;
  background-color:#B1D4E0;
}


.inputBox:focus {
  outline: none;
}

.finalInputBox:focus {
  outline: none;
}

.inputDivisionBox {
  width:60px;
  text-align:center;
  background-color:#90CAF9;
  border:none;
}

.inputDivisionBox:focus {
  outline: none;
}

.inputRemainderBox {
  width:60px;
  text-align:center;
  background-color:#E1BEE7;
  border:none;
}

.inputRemainderBox:focus {
  outline: none;
}

.tableAlign {
  margin: 0 auto;
}


.alignNumbers {
  margin:0px; 
  padding:0px;
}

.userName{
  font-size: large;
  font-weight: 400;
  color: #1572A1;
  text-decoration: underline;
}
/*custom position for toast notifications*/

/* .toast-custom-position{
  top: 80px;
  right: 0px;
} */