body,html {
  height: 100%;
}

/****** index page styles *******/
#navigation-bar{
  background-color: #1572A1;
}

.navbar-nav >li > a.nav-link {
  color:#fff;
}

.navbar-nav >li > a.nav-link.active {
  /* box-shadow: inset 0 0 4px white; */
  box-shadow: 0 8px 2px -6px white;
  color:#fff;
}

.navbar-nav >li > a.nav-link:hover{
  /* border-bottom: 2px solid white; */
  box-shadow: 0 8px 2px -6px white;
  color:#fff;
}

.inboxLink:hover, .inboxLink.active{
  color: #18FFFF;
}

a.logoutLink{
  border:1px solid #fff;
  padding:5px 5px;
}

/* a.logoutLink:hover{
  border-color:#18FFFF;
} */

.customBackground{
  background-color: #1572A1;
  color: #E0E0E0;
}
 
  .container
 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: large;
 }

 .logoImage{
    width: 170px; 
    height: 170px;
 }

 .addTestBtn {
    font-size: large;
    background-color: #003D7A;
    color: #fff;
 }
 .addTestBtn:hover, .saveBtn:hover, .addTestBtn:active{
  background-color: #003D7A;
  color: #fff;
}

.addBtn:visited, .saveBtn:visited {
  background-color: #003D7A;
  color: #fff;
}
.addBtn:focus, .saveBtn:focus {
  background-color: #003D7A;
  color: #fff;
}
.addBtn:hover, .saveBtn:hover {
  background-color: #003D7A;
  color: #fff !important;
}
.addBtn:active, .saveBtn:active {
  background-color: #003D7A;
  color: #fff !important;
}

 .btn-outline-info,  .btn-outline-info:visited, .btn-outline-info:hover, .btn-outline-info:active, .btn-outline-info:focus{
  border: 2px solid  #003D7A;
  color:  #0C2D48;
}

/* .questionaryEditBtn,.questionaryGoBtn{
  background-color: #1572A1;
  color: #fff;
} */

.questionaryScoreRecord, .questionaryGoBtn{
  background-color: #1572A1;
  color: #fff;
}

.questionaryScoreRecord:hover,.questionaryScoreRecord:active, .questionaryGoBtn:hover,.questionaryGoBtn:active{
  background-color: #1572A1;
  color: #fff;
}

.questionaryDeleteBtn, .questionaryDeleteBtn:hover{
  color: #000;
}

.questionaryDeleteBtn:active{
  color: #000;
}

/* input[button].btn:disabled, input[button].btn[disabled] {
  background-color: #E0E0E0;
  color: #616161;
  cursor: no-drop
} */

/* .questionaryDeleteBtn{
  background-color: #1572A1;
  color: #FFF;
} */


/* .questionaryScoreRecord{
  box-shadow: inset;
  border: 2px solid  #0C2D48;
  color:  #0C2D48;
} */

.addBtn {
  font-size: 1.2rem;
  width: 70px;
  font-weight: bolder;
  background-color: #003D7A;
  color: #fff;
}

.addBtn:disabled,.saveBtn[disabled],
.addBtn[disabled]{
  background-color: #E0E0E0;
  color: #616161;
  cursor: no-drop
}

.saveBtn{
  background-color: #003D7A;
  color: #fff;
}

/* .saveBtn{
  background-color: #0C2D48;
  color: #fff;
} */

/* .signInBtn{
  background-color: #003D7A;
  color: #fff;
} */

/* .signUpBtn {
  background-color: #0405AB;
  color:#fff;
} */


.nav-pills > li > a.nav-link {
  background-color: #fff;
  color:#000;
}

.nav-pills > li > a.nav-link.active {
  background-color: #ECEFF1;
  color:#000;
  border:1px solid #003D7A;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #fff1eb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(255,241,235,0.5), rgba(172,224,249,0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(255,241,235,0.5), rgba(172,224,249,0.5))
}
 
 /********** Admin Page styles *********/
#main {
  margin:2% 10%;
}

.bigHeading {
  margin: 2% 0;
  text-align: center;
}

.col {
  text-align: center;
  justify-content: center;
}


.testNameBox{
  width: 100%;
}

.testNameValid {
  width:fit-content;
  margin-left:6.5%;
}


#questionsList {
  margin:2% 10%;
}

/* .alignQuestions {
  text-align: center;
  padding: 2% 10%;
  border: 1px solid #000;
  margin: 1% auto;
} */

.alignQuestions {
  border-bottom: 1px solid #E0E0E0;
  background-color: #FBFBFB;
  text-align: center;
}
/* 
.testPapers {
  margin: 5% auto;
} */

/* .loginForm{
  padding: 2rem;
  border: 2px solid #BDBDBD;
  border-radius: 10px;
} */

.loginForm{
  padding: 2rem;
  background-color: #FFF;
  border-radius: 10px;
  color: #000;
}

/* .testPapers > .row  {
  border:2px solid black;
  padding:1% 3%;
} */

.testPapers > .row  {
  border-bottom: 1px solid #E0E0E0;
  background-color: #FBFBFB;
  text-align: center;
}
.vcenter{
  display: inline-block;
  vertical-align: middle;
}
.correctAns {
  color : #388E3C;
}

.givenAns {
  color : #0091EA;
}

.displayDate {
  background-color: #BDBDBD;
}

.main {
  margin: 3% 10%;
}

.inputBox {
  width:32px;
  text-align:center;
  background-color:#BBDEFB;
  border:none;
}
.emptyBox{
  width:30px;
  text-align:center;
}

.finalInputBox {
  border:1px solid #0C2D48;
  width:32px;
  text-align:center;
  background-color:#B1D4E0;
}

.finalInputBoxZero{
  border:1px solid #0C2D48;
  width:70px;
  text-align:center;
  background-color:#B1D4E0;
}

.inputBox:focus {
  outline: none;
}

.finalInputBox:focus {
  outline: none;
}

.inputDivisionBox {
  width:60px;
  text-align:center;
  background-color:#B1D4E0;
  border:1px solid #0C2D48;
}

.inputDivisionBox:focus {
  outline: none;
}

.inputRemainderBox {
  width:60px;
  text-align:center;
  background-color:#E1BEE7;
  border:1px solid #0C2D48;
}

.inputRemainderBox:focus {
  outline: none;
}

.tableAlign {
  margin: 0 auto;
}


.alignNumbers {
  margin:0px; 
  padding:0px;
}

.userName{
  font-size: large;
  font-weight: 400;
  color: #1572A1;
  text-decoration: underline;
}

.newNotification {
  border-bottom: 1px solid #E0E0E0;
  background-color: #FBFBFB;
  text-align: center;
  text-align: left;
  font-size: small;
}

.link-secondary:active {
  color: #E3F2FD;
}

.questionaryStatus{
  color: green;
  font-size: medium;
  font-weight: 600;
}
.statusModified, .loginStatus{
  color: red;
}

.testNameInput{
  width:100%;
  height:fit-content;
  /* text-align:center; */
  border: none;
  font-weight:300;
  background-color: transparent;
  /* font-size: clamp(1rem, 0.1456rem + 3.7975vw, 2.5rem); */
  font-size: clamp(1.2rem, 0.9111rem + 1.2840vw, 2.5rem);
}

/* .testNameInput:focus, .testNameInput:active{
  border:2px solid green;
} */

.highlightInput{
  border:2px solid green;
}

.questionaryName{
  font-size: clamp(1.2rem, 0.9778rem + 0.9877vw, 2.2rem);
}

.checkedReadNotification {
  background-color: #E8EAF6;
  border-bottom: 1px solid #9FA6B2;
}

.list-group-item {
  border:none;
  background-color: #fff;
  border-bottom: 1px solid #E0E0E0;
}

.hidden{
  display: none;
}

